@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@800&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    background-color: #ddd;
    height: 100vh;
}

.navigation {
    background-color: #242524;
    box-shadow: 0 3px 10px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: opacity 0.4s ease-in-out;
    
}

.navigation.opacitySc{
    opacity: 0.9;
}

.bar-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo h1 {
    color: #fff;
}

.list-nav {
    display: flex;
    align-items: center;
}

.list-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 1.6rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin: 2rem;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-link::after{
    content: '';
    background-color: #fff;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav-link:hover::after{
    width: 100%;
}

#pallets:hover {
    color: #16BAC5;
    transition: 0.5s;
}

#netflix:hover {
    color: #e50914;
    transition: 0.5s;
}

#spotify:hover {
    transition: 0.5s;
    color: #1DB954;
}

#walmart:hover {
    transition: 0.5s;
    color: #0071CE;
}

#twitch:hover {
    transition: 0.5s;
    color: #6441A0;
}

.icon-menu {
    display: none;
}

.mobile-ul {
    display: none;
}

@media screen and (max-width: 1145px) {

    .nav-link{
        display: none;
    }

    .icon-menu {
        display: block;
    }

    .mobile-ul ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }

    
    .mobile-ul .list {
        display: block;
        padding-top: 1.6rem;
    }

    .mobile-ul .nav-link{
        display: block;
    }

    .icon-menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .open {
        display: block;
    }

    .nav-link::after {
        position: initial;    
    }
    
}

.pallets {
    margin: 14rem 0;
}

.pallets h1 {
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    font-family: 'Opens sans', sans-serif;
}

.all-pallets{
    display: flex;
    justify-content: space-around;
    margin-top: 12rem;
}

.all-pallets button:hover{
    cursor: pointer;
}

.colors {
    display: flex;
    margin-bottom: 5rem;
    border: none;
    background: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem 9rem;
    border-radius: 5rem;
    box-shadow: 0 2px 10px #000;
}

#color1 {
    background-color: #4f000b;
    color: #ddd;
}
#color2 {
    background-color: #720026;
    color: #dddddd;
}
#color3 {
    background-color: #CE4257;
    color: #ddd;
}
#color4 {
    background-color: #FF7f51;
    color: #ddd;
}
#color5 {
    background-color: #FF9B54;
    color: #ddd;
}
#color6 {
    background-color: #BFACAA;
    color: #ececec;
}
#color7 {
    background-color: #02020A;
    color: #ddd;
}
#color8 {
    background-color: #05204A;
    color: #ddd;
}
#color9 {
    background-color: #B497D6;
    color: #fcfcfc;
}
#color10 {
    background-color: #E1E2EF;
    color: #535353;
}
#color11 {
    background-color: #EAEAEA;
    color: #686868;
}
#color12 {
    background-color: #893168;
    color: #ddd;
}
#color13 {
    background-color: #4A1942;
    color: #ddd;
}
#color14 {
    background-color: #2E1C2B;
    color: #ddd;
}
#color15 {
    background-color: #050404;
    color: #ddd;
}
#color16 {
    background-color: #16BAC5;
    color: #f0f0f0;
}
#color17 {
    background-color: #5FBFF9;
    color: #f1f1f1;
}
#color18 {
    background-color: #EFE9F4;
    color: #807f7f;
}
#color19 {
    background-color: #171D1C;
    color: #ddd;
}
#color20 {
    background-color: #5863F8;
    color: #ddd;
}
#color21 {
    background-color: #040F0F;
    color: #f1f1f1;
}
#color22 {
    background-color: #248232;
    color: #ddd;
}
#color23 {
    background-color: #2BA84A;
    color: #ddd;
}
#color24 {
    background-color: #2D3A3A;
    color: #ddd;
}
#color25 {
    background-color: #FcFFFC;
    color: #747474;
}

@media (max-width:1350px) {
    .all-pallets {
        display: flex;
        flex-wrap: wrap;
        
    }

    .navigation {
        position: fixed;
    }
}

.title-netflix img,
.title-spotify img,
.title-twitch img {
    width: 15rem;
    height: 15rem;
    display: flex;
    margin: auto;
}

.title-walmart img {
    width: 26rem;
    height: 14rem;
    display: flex;
    margin: auto;
}

.colors-netflix,
.colors-spotify,
.colors-walmart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14rem;
}

.back-netflix,
.back-spotify,
.back-walmart,
.back-twicht {
    padding: 15rem;
    border-radius: 2rem;
    box-shadow: 0px 3px 8px black;
}

#color1-netflix {
    margin-top: 12rem;
    background-color: #e50914;
}

#color2-netflix{
    background-color: #B81D24;
}

#color3-netflix {
    background-color: #221F1F;
}

#color4-netflix{
    background-color: #F5F5F1;
}

#color1-spotify {
    margin-top: 12rem;
    background-color: #1DB954;
}

#color2-spotify {
    background-color: #FFFFFF;
}

#color3-spotify {
    background-color: #191414;
}

#color1-walmart{
    margin-top: 12rem;
    background-color: #0071CE;
}

#color2-walmart {
    background-color: #FFC220;
}

#color3-walmart {
    background-color: #FFFFFF;
}

#color4-walmart {
    background-color: #041E42;
}

.colors-netflix p,
.colors-spotify p,
.colors-walmart p,
.colors-twitch p {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

@media (orientation: landscape){
    .navigation{
        position: relative;
    }
}

@media (min-width: 940px) AND (max-width: 1369px){
    .navigation {
        position: fixed;
    }

    .align-color {
        display: flex;
        flex-direction: column;
    }


    .colors-netflix,
    .colors-spotify {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 12rem;
        justify-content: center;
    }

    #color1-netflix, #color3-netflix {
        margin: 0;
        border-radius: 2rem 0 0 2rem ;
    }

    #color2-netflix, #color4-netflix {
        border-radius: 0 2rem 2rem 0;
    }

    #color1-spotify {
        margin: 0;
        border-radius: 2rem 0 0 2rem;
    }

    #color2-spotify {
        border-radius: 0 2rem 2rem 0;
    }

    .back-netflix,
    .back-spotify {
        padding: 22rem;
        box-shadow: 0px 2px 3px black;
    }

    #align-color1, #align-color3 {
        padding-left: 2rem;
    }
    
    #align-color2, #align-color4 {
        padding-right: 1rem;
    }
}

@media (min-width: 1370px) {
    .navigation {
        position: fixed;
    }

    .align-color {
        display: flex;
        flex-direction: column;
    }

    .colors-netflix,
    .colors-spotify {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 12rem;
        justify-content: center;
    }

    #color1-netflix,
    #color1-spotify {
        margin: 0;
        border-radius: 2rem 0 0 2rem ;
    }

    #color2-netflix, #color3-netflix,
    #color2-spotify {
        border-radius: 0;
    }

    #color4-netflix, #color3-spotify {
        border-radius: 0 2rem 2rem 0;
    }

    .back-netflix {
        padding: 22rem 15rem;
        box-shadow: 0px 2px 3px black;
    }

    .back-spotify {
        padding: 22rem 20rem;
        box-shadow: 0px 2px 3px black;

    }
    
}


